* {
	box-sizing: border-box;
	--background-color: #f5f5f5;
	--content-color: #1e1e1e;
	--green-color: hsl(120, 100%, 80%);
	--red-color: hsl(0, 100%, 80%);
}

@media (prefers-color-scheme: dark) {
	* {
		--background-color: #1e1e1e;
		--content-color: #f5f5f5;
		--green-color: hsl(120, 100%, 25%);
		--red-color: hsl(0, 100%, 25%);
	}
}

body {
	background-color: var(--background-color);
}

section {
	max-width: 800px;
}

input, textarea, button {
	background-color: var(--background-color);
	border: 1px solid var(--content-color);
	box-shadow: 0 0 2px var(--content-color);
	border-radius: 3px;
	color: var(--content-color);
	font: 14px;
	margin: 0;
	padding: 6px 12px;
	width: 50%;
}

textarea {
	display: block;
	width: 100%;
	resize: none;
}

button {
	user-select: none;
}

ul {
	padding-inline-start: 0;
	padding: 6px;
}

li {
	display: block;
	padding: 6px;
}

.delete-button {
	background-color: var(--red-color);
}

#add-mcfunction-button {
	background-color: var(--green-color);
	margin: 6px;
}

#download-button {
	background-color: var(--green-color);
}

button:hover {
	box-shadow: inset 0 0 6px var(--content-color);
}

button:active {
	box-shadow: inset 0 0 6px var(--background-color);
}
